// Place all the styles related to the aspects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#textcloud{
  width: 890px;
  height: 600px;
}

div.jqcloud {
  span{
    cursor:pointer;

  }
  span.w1{
    font-size: 14px;
  }
  span.w2{
    font-size: 20px;
  }
  span.w3{
    font-size: 24px;
  }
  span.w4{
    font-size: 28px;
  }
  span.w5{
    font-size: 32px;
  }
  span.w6{
    font-size: 40px;
  }
  span.w7{
    font-size: 44px;
  }
  span.w8{
    font-size: 48px;
  }
  span.w9{
    font-size: 56px;
  }
  span.w10{
    font-size: 64px;
  }
}