// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_base";

body {
  background-color: $bg-color-init;
}

#main-container{
  width: 100%;
  height: 100%;
}

#top-container{
  position: relative;
  top: 40%;
  width: 100%;
  #big-title-box{
    h1 {
      color: #FFF;
      text-align: center;
    }
  }
  #search-box{
    @include display-box;
    @include box-align(center);
  }

}

#product-list{
  opacity: 0;
}

.product-cell{
  cursor:pointer;
  background-color: #fff;
  @include border-radius(5px);
  .product-image{
    float: left;
    margin-right: 10px;
  }
  .product-title{
       
  }

  .product-price{

  }

  .product-id{
    display: none;
  }
}
