// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_base";

body {
  background-image: url(image_path('background.jpg'));
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}

#main-container{
  width: 100%;
  height: 100%;
}

#mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  opacity: 0; 
}

#top-container{
  position: relative;
  top: 72%;
  width: 100%;
  #big-title-box{
    margin-bottom: 20px;
    h1 {
      color: #FFF;
      text-align: center;
      @include text-shadow(rgba(black, 0.4) 0 0 2px);
    }
  }
  #search-box{
    @include display-box;
    @include box-align(center);
  }

}

#product-list{
  opacity: 1;
}

.product-cell{

  @include border-radius(5px);
  @include box-shadow(rgba(black, 0.3) 0 0 1px);

  cursor:pointer;
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  width: 30%;
  display: inline-block;

  &:hover{
    @include box-shadow(rgba(black, 0.3) 2px 2px 2px);
  }

  .product-image{
    text-align: center;
    padding-top: 5px;
  }
  .product-title{
    margin: 20px 0 5px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .product-id{
    display: none;
  }
}

#product-info{
  padding: 10px;
  .product-image{
    padding: 0 10px 0 0;
  }
  .product-detail{

  }
  .product-id{
    display:none;
  }
}

#product-show{
  display: none;
}
