<div class="product-cell">
  <% if !product.imageUrl.nil? %>
    <div class="product-image">
      <%= image_tag(product.imageUrl) %>
    </div>
  <% end %>

  <p>
    <%= product.title %>
  </p>
  <p>
    <%= product.price %>
  </p>
  <span class="product-id"><%= product.productId%></span>
</div>
