<div class="product-image columns small-3">
    <%= image_tag("https://dl.dropboxusercontent.com/u/48841755/images/loading.gif") %>
</div>
<div class="product-detail  columns small-9">
  <p class="product-title">
    <%= product.title %>
  </p>
  <p class="product-description">
    <%= product.title %>
  </p>
</div>

<span class="product-id"><%= product.productId%></span>

