<div class="product-cell">

    <div class="product-image">
      <%= image_tag(product.imageUrl) %>
    </div>


  <p>
    <span class="product-title">
      <%= product.title %>
    </span>
  </p>
  <p>
    <span class="product-price">
      <%= product.price %>
    </span>
  </p>
  <span class="product-id"><%= product.productId%></span>
</div>
