<div class="product-cell">
  <div class="product-image">
    <%= image_tag(product.imageUrl) %>
  </div>
  <p class="product-title">
    <%= product.title %>
  </p>
  <span class="product-id"><%= product.productId%></span>
</div>
