<div class="product-cell">
  <div class="product-image">
    <%= image_tag("https://dl.dropboxusercontent.com/u/48841755/images/loading.gif") %>
  </div>
  <p class="product-title">
    <%= product.title %>
  </p>
  <span class="product-id"><%= product.productId%></span>
</div>
