<div id="main-container">

    <div id="top-container">

      <div id="big-title-box" class="row">

        <h1 class="small-8 small-centered column">
          Want to search something ?
        </h1>

      </div>

      <div id="search-box">
        <div class="row">
          <div class="column small-8 small-centered">
            <div class="row">
              <%= form_tag("/products.js", method: "get", remote: "true",id: "search-form") do %>
                <div class="small-10 columns">
                    <%= text_field_tag(:keyword) %>
                </div>
                <div class="small-2 columns">
                    <%= submit_tag "Search", class: "button tiny radius success" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>



  <div class="row">
    <div id="product-list" class="small-10 column small-centered">

    </div>
    <div id="product-show">
      <div id="product-info">

      </div>
      <div id="textcloud">

      </div>
      <div id="review-list">

      </div>
  </div>
  </div>

</div>
