<img src="https://dl.dropboxusercontent.com/u/48841755/images/loading.gif" style="display:none;">

<div id="main-container">
  <div id="mask"></div>
  <div id="top-container">

    <div id="big-title-box" class="row">

      <div class="row">
        <div id="logo" class="small-12 small-centered column">
          <%= image_tag(image_path('copinion.png')) %>
        </div>
      </div>

      <h1 class="small-12 small-centered column">
        Search opinions before purchasing
      </h1>

    </div>

    <div id="search-box">
      <div class="row">
        <div class="column small-10 small-centered">
          <div class="row">
            <form>
              <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden">
                  <input name="authenticity_token" type="hidden" value="">
              </div>
              <div class="small-10 columns">
                  <input id="keyword" name="keyword" type="text">
              </div>
              <div class="small-2 columns">
                  <input class="button tiny radius success" name="submit" type="button" value="Search">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="loading-box">
        <%= image_tag 'ajax-loader.gif' %>
      </div>
      <div id="product-list" class="small-10 column small-centered">
      </div>
      <div id="product-show">
        <div id="product-info">

        </div>
        <div class="info-title">
          <span sytle="margin-left: 10px;">Reivews</span>
        </div>
        <div id="textcloud">

        </div>
        <div id="modifier-list">

        </div>
        <div id="review-list">

        </div>
      </div>
    </div>
  </div>
</div>

<div id="modifier-toolkit" style="display:none; position:absolute;">
  <span></span>
</div>




