<div id="main-container">
  <%= form_tag("/products.js", method: "get", remote: "true",id: "search-form") do %>
      <%= text_field_tag(:keyword) %>
      <%= submit_tag("Search") %>
  <% end %>

  <div id="product-list">

  </div>

  <div id="product-show">
    <div id="product-info">

    </div>
    <div id="textcloud">

    </div>
    <div id="review-list">

    </div>
  </div>
</div>
